.card-member-container {
  display: flex;
  width: calc(100% - 20px);
  flex-wrap: wrap;
  margin: 10px;
}

.card-member-view {
  border-radius: 100%;
  background: rebeccapurple;
  height: 37px;
  width: 37px;
  line-height: 37px;
  margin: 2px!important;
  text-align: center;
}
