.kanception-card {
  margin: 10px;
  background: #4043b9;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #4d27cf;
}

.share-select {
  visibility: hidden;
  margin: 10px;
}

.kanception-card:hover .share-select {
  visibility: visible;
}

.kanception-card textarea {
  overflow: visible;
  scrollbar-width: none;  /* Firefox */
  width: 80%;
  margin-top: 5px;
  margin-bottom: 35px;
}

textarea::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

