.comment-box-submit {
  min-height: fit-content;
}

.comment-submit-btn {
  background: #420E97!important;
  color: white!important;
  font-size: 1em!important;
  border-radius: 5px!important;
  margin: 10px;
  display: inherit;
}
