.kanban {
  overflow: visible;
  height: calc(100% - 100px);
  margin-top: 100px;
}

#kanbanRoot {
  width: fit-content;
  display: flex;
  color: white;
  text-align: center;
  height: 100%;
}

#kanbanRoot button {
  background: inherit;
  border: none;
  color: var(--text-color);
  font-size: 2em;
  outline: none;
}

.column {
  width: 300px;
  min-height: 50px;
  max-height: calc(100vh - 200px);
  background: var(--foreground-color);
  margin: 10px;
  border: solid var(--foreground-color) 10px;
  border-radius: 5px;
  overflow-y: auto;
  box-shadow: 0 0 5px 1px var(--shadow-color);
  scrollbar-width: none;  /* Firefox */
}

.column::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.pointer:hover {
  cursor: pointer;
}

#kanbanRoot .add-group-btn {
  font-size: 1em;
  background: var(--foreground-color);
}

.group-title-input {
  font-size: 1.5em;
  width: 70%;
  background: inherit;
  color: var(--text-color);
  border: none;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  white-space: nowrap;
}

.hide {
  visibility: hidden;
}

.context-menu {
   position: fixed;
   width: 200px;
   background: white;
   border-radius: 5px;
   color: black;
   box-shadow: 0 2px 2px #444;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.context-menu h6 {
  padding: 10px;
}

.context-menu .border-bottom {
  border-bottom: 1px solid #aaa;
}

.context-menu .border-top {
  border-top: 1px solid #aaa;
}

.group {
  width: 320px;
  height: fit-content;
}

.group-control {
  display: flex;
  justify-content: center;
}

.rbd-droppable-context {
  min-height: 40px;
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  .column {
    max-height: calc(100vh - 275px);  
  }
}
