.kanban {
  overflow: visible;
  height: calc(100% - 50px);
  margin-top: 50px;
}

#kanbanRoot {
  width: fit-content;
  display: flex;
  color: white;
  text-align: center;
}

#kanbanRoot button {
  background: inherit;
  border: none;
  color: white;
  font-size: 2em;
}

.column {
  width: 400px;
  min-height: 50px;
  max-height: calc(100vh - 200px);
  background: #242628;
  margin: 10px;
  border: solid #242628 10px;
  border-radius: 5px;
  overflow-y: auto;
  scrollbar-width: none;  /* Firefox */
}

.column::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.pointer:hover {
  cursor: pointer;
}

#kanbanRoot .add-group-btn {
  font-size: 1em;
  background: #242628;
}

.group-title-input {
  font-size: 1.5em;
  background: inherit;
  color: white;
  border: none;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  white-space: nowrap;
}

.hide {
  visibility: hidden;
}

.context-menu {
 position: absolute;
 width: 200px;
 height: 250px;
 background: white;
 border-radius: 5px;
 color: black;
 box-shadow: 0 0 2px 2px #444;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.context-menu h6 {
  padding: 10px;
}

.context-menu .border-bottom {
  border-bottom: 1px solid #aaa;
}

.context-menu .border-top {
  border-top: 1px solid #aaa;
}

.group {
  width: 420px;
}

.group-control {
  display: flex;
  justify-content: center;
}

.rbd-droppable-context {
  min-height: 40px;
}
