.sign-up-btn {
  border: none;
  background: orange;
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
  text-decoration: none;
}

.center-text {
  text-align: center;
}

.mid-width {
  max-width: 700px;
}
