p {
  max-width: 900px;
  margin: 20px 10px;
  font-size: 1.25em;
  text-align: center;
}

h2 {
  margin: 10px;
}

h4 {
  margin: 20px 10px;
}

.card h4 {
  font-size: 1em;
}

.title {
  margin-bottom: 20px;
}

.top-block {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90vw;
  border-radius: 24px;
  height: fit-content;
  background: #1b2448;
  box-shadow: 0 20px 44px 0 rgba(27,36,72,.26);
}

.top-block-inner {
  background-image: radial-gradient(circle farthest-corner at 50% 50%,rgba(62,56,127,.45),rgba(62,56,127,0));
}

.top-block h1, .top-block p {
  text-align: center;
  margin: 20px auto;
  color: white;
}

.top-block h1 {
  font-size: 50px;
  max-width: 1000px;
  width: 100%;
  margin-top: 60px;
}

.top-block a {
  margin-bottom: 60px;
  display: inline-block;
}

.top-block h2 {
  color: #d6dbf0;
  width: 90%;
  max-width: 700px;
  margin: 20px auto;
  font-size: 24px;
}

.gantt-block > p {
  margin: 20px auto;
}

.color-strip {
  width: 100%;
  height: 12px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.red {
  background: lightgreen;
}

.blue {
  background: cornflowerblue;
}

.sign-up-btn {
  border: none;
  background: orange;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  margin-bottom: 60px;
}

.sign-up-btn-bottom {
  margin: 60px;
}

.center-text {
  text-align: center;
}

.mid-width {
  max-width: 700px;
}

.kanban-detail-block {
  background: linear-gradient(90deg, #6f27cf, #4d27cf);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}
.kanban-detail-text-block {
  background: linear-gradient(90deg, #6f27cf, #4d27cf);
  text-align: center;
  color: white;
  font-size: 1.2em;
}
.kanban-detail-text-block > h4 {
  margin: 20px 10px;
}

.main-video {
  max-width: 960px;
}

.card {
  background: white;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  padding: 30px;
  box-shadow: 5px 5px 10px 10px rgb(68 68 68 / 59%);
  margin: 20px;
}

.card progress {
  width: 90%;
}

#gantt-chart {
  box-shadow: 0 0 5px 10px #ccc;
  border-radius: 5px;
  max-width: 960px;
}

.gantt-block > h4 {
  font-size: 1.3em;
  margin-bottom: 30px;
}

.roadmap-block > h1 {
  font-size: 3em;
}

@media screen and (max-width: 768px) {
  .top-block {
    margin-bottom: 20px;
  }

  .top-block h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 1024px) {
.top-block h1 {
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
}

.card-container {
  width: 95%;
  max-width: 600px;
}

.roadmap-block > h1 {
  font-size: 2em;
}

.kanban-detail-block {
  flex-direction: column-reverse;
}

.main-video {
  max-width: 95%;
}

#gantt-chart {
  max-width: 95%;
}

.card {
  max-width: 95%;
  padding: 20px;
  width: unset;
}

.kanban-detail-block img {
  margin-right: 0!important;
}

.gantt-block > p {
  margin: 20px 10px;
}
}

