.App {
  display: flex;
  height: 100%;
  width: fit-content;
  overflow-y: hidden;
}

.App .coming-soon {
  color: var(--text-color);
}

body {
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
