.kanban {
  overflow: auto;
  height: calc(100% - 50px);
}

#kanbanRoot {
  display: flex;
  color: white;
  text-align: center;
}

#kanbanRoot h4 {
  margin: 20px;
  white-space: nowrap;
}

#kanbanRoot button {
  background: inherit;
  border: none;
  color: white;
  font-size: 2em;
}

.column {
  width: 400px;
  max-height: calc(100vh - 250px);
  background: #242628;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  overflow-y: auto;
  scrollbar-width: none;  /* Firefox */
}

.column::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
