.toolbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: flex-end;
  background: var(--background-color);
  height: 50px;
  width: 100%;
  z-index: 2;
  -webkit-app-region: drag;
}

.page-link {
  transform: rotate(90deg);
}

.toolbar .btn-primary {
  background: black;
  border: solid 1px white;
  box-shadow: 0 0 0 0.2rem #white;
  margin: 10px;
}

.toolbar .btn-primary:hover {
  background: black;
  border: solid 1px #4043b9;
}

.toolbar .btn-primary:focus {
  border: solid 1px white;
  box-shadow: 0 0 0 0.2rem #white;
}

.toolbar .btn-primary.dropdown-toggle:focus {
  background: black;
  box-shadow: 0 0 0 0.2rem #white;
}

