.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #4d27cf;
  height: 50px;
  width: 100%;
}

.toolbar .btn-primary {
  background: #4d27cf;
  border: solid 1px white;
  box-shadow: 0 0 0 0.2rem #4d27cf;
  margin: 10px;
}

.toolbar .btn-primary:focus {
  border: solid 1px white;
  box-shadow: 0 0 0 0.2rem #4d27cf;
}

.toolbar .btn-primary.dropdown-toggle:focus {
  background: #4d27cf;
  box-shadow: 0 0 0 0.2rem #4d27cf;
}

